@model Locadora.Web.MVC.Models.LocacaoModel
@{
    ViewBag.Title = "Locação";
}

<h2>Locar jogo</h2>
<h1>@Model.NomeJogo</h1>


@using (Html.BeginForm("Locar", "Locacao", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    @Html.HiddenFor(m => m.IdJogo);
    <div class="text-center">
        <div class="form-group">
            @Html.LabelFor(m => m.NomeCliente)
            @Html.TextBoxFor(m => m.NomeCliente)
            @Html.ValidationMessageFor(m => m.NomeCliente)
        </div>

        <input type="submit" name="enviar" value="Locar" />

        <div>
            <button onclick="location.href='@Url.Action("Sair","Login")'" name="btnSair">Sair</button>
            <button onclick="location.href='@Url.Action("JogosDisponiveis", "Relatorio")'" name="btnRelatorio">Jogos disponíveis</button>
        </div>
    </div>


}
