@model DetalheJogoModel
@{
    ViewBag.Title = "DetalheJogo";
}

<div class="text-center">
    <h2>@Model.Nome</h2>
</div>

<div class="text-center">
    <p>@Model.Descricao</p>
</div>

<div class="text-center">
    <p>@Model.Selo</p>
</div>

<div class="text-center">
    <img src="@Model.Imagem" />
</div>

<div class="text-center">
    @Html.Raw(Model.Video)
</div>

<div>
    <button onclick="location.href='@Url.Action("Sair","Login")'" name="btnSair">Sair</button>
    <button onclick="location.href='@Url.Action("JogosDisponiveis", "Relatorio")'" name="btnRelatorio">Jogos disponíveis</button>
</div>
